### Python ###
__pycache__/
*.py[cod]
*$py.class

### Jupyter Notebook ###
.ipynb_checkpoints

### VSCode ###
.vscode/

####################
### Page Scripts ###
####################

### NodeJS ###
node_modules/
package-lock.json
